<div class="tab-pane fade show  active box_fora col-sm-12 col-md-6 offset-md-3" id="judicial" role="tabpanel" aria-labelledby="judicial-tab">
  
  <!-- Dados do processo -->
  <div class="m-1 mt-3 mb-3">
    <h5 class="text-center mb-3"><strong><%= @judicial.number %></strong></h5>
    <% @judicial.parties.each do |party| %>
      <p class="judicial-parties"><%= "#{(party.role).capitalize}: #{party.name}" %></p>
    <% end %>
  </div>

  <!-- Último andamento -->
  <div class="card mb-3 mt-2">
    <div class="card-header">Último andamento - simplificado</div>
    <div class="card-body text-dark">      
      <% unless @judicial.judicial_steps.last.decision == "0" %>
        <a href="" class="stepModal" data-target="#decisionModal" data-toggle="modal" data-decision-text="<%= @judicial.judicial_steps.last.decision %>">
          <p><%= @judicial.judicial_steps.last.date.strftime("%d/%m/%Y") %> - <%= @judicial.judicial_steps.last.step.translation %></p>
        </a>
      <% else %>
      <p>
        <%= @judicial.judicial_steps.last.step.translation %>
      </p>
      <% end %>
    </div>
  </div>

  <!-- <a data-toggle="tab" href="#fluxograma" role="tab" aria-controls="fluxograma" aria-selected="false">
        <%#= "#{@phase[0]}" %> </a> -->    
  
  <h6>Veja em que fase está seu processo:</h6> 
  <div class="div">    
    <%= render partial: "new_fluxogram" %>    
  </div>

  <a href="https://www.tjdft.jus.br/" target="_blank" rel="noopener noreferrer">Verificar andamento no site do TJDFT</a>
  <hr>
  <% if current_user %>
    <% if UserJudicial.where(user_id: current_user.id, judicial_id: @judicial.id).empty? %>
      <div class="mx-auto">
        <%= simple_form_for @userjudicial do |f| %>
        <div hidden>
          <%= f.input :judicial_id, input_html: { value: @judicial.id } %>
        </div>
        <%= f.button :submit, "Acompanhar", class:"btn btn-ghost pl-3 pr-3" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Acompanhar", new_user_session_path, class:"btn btn-ghost pl-3 pr-3" %>
    <!-- Problema: manda para login e depois abre a página inicial; deveria ser a página Meus processos. -->
  <% end %>

</div>
