<div class="tab-pane fade show  active box_fora col-sm-12 col-md-6 offset-md-3" id="judicial" role="tabpanel" aria-labelledby="judicial-tab">

  <div class="card mt-5 mb-3">
    <h5 class="mt-2 pb-2 pl-3 pt-2"><%= @judicial.number %></h5>
    <div class="mb-2 pl-2">
      <% @judicial.parties.each_with_index do |party| %>
        <p class="judicial-parties"><%= "#{(party.role).capitalize}: #{party.name}" %></p>
      <% end %>
    </div>
  </div>
  <div class=" card judicial-last-step mb-3 pt-3 pl-4">
    <div>
      <% if @judicial.judicial_steps.last.step.priority == 1 %>
      <a href="#" data-target="#decisionModal" data-toggle="modal">
        <p>Último andamento</p>
        <h4 class="mb-3">
          <%= @judicial.judicial_steps.last.step.translation %>
        </h4>
      </a>
      <% else %>
      <p>Último andamento</p>
      <h4 class="mb-3">
        <%= @judicial.judicial_steps.last.step.translation %>
      </h4>
      <% end %>
    </div>
  </div>
  <div class=" card judicial-original mb-3 pt-3 pl-4">
    <div>
      <p>Andamento original:</p>
      <p class="mb-3">
          <%= @judicial.judicial_steps.last.step.description %>
      </p>
    </div>
  </div>
  <div class=" card judicial-phase pt-3 pl-4">
    <div>
      <a class="nav-link" data-toggle="tab" href="#fluxograma" role="tab" aria-controls="fluxograma" aria-selected="false">
        <h5 class="mb-3">
          <%= "O processo encontra-se na #{@phase[0]}" %>
        </h5>
      </a>
    </div>
  </div>
  <hr>
  <% if current_user %>
    <div class="mx-auto">
      <%= simple_form_for @userjudicial, remote: true do |f| %>
      <div hidden>
        <%= f.input :judicial_id, input_html: { value: @judicial.id } %>
      </div>
        <%= f.button :submit, "Salvar", class:"btn btn-ghost" %>
      <% end %>
    </div>
  <% else %>
    <%= link_to "Para salvar esse processo faça o login", new_user_session_path %>
  <% end %>
</div>
