<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand  navbar-logo" do %>
    <%= image_tag "jsinvert.png", class:"navbar-logo" %>
    <% end %>

  <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

      <% unless current_page?(user_judicials_path(current_user)) %>
        <li class="nav-item">
          <%= link_to "Meus processos", user_judicials_path(current_user), class: "nav-link link-navbar" %>
        </li>
      <% end %>

        <% unless current_page?(root_path) %>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link link-navbar"  do %>
              <i class="fas fa-search"></i>
            <% end %>
          </li>
        <% end %>

        <li class="nav-item" style="">
          <%= link_to destroy_user_session_path, class: "nav-link link-navbar"  do %>
            <i class="fas fa-sign-out-alt" data-bs-toggle="tooltip" data-bs-placement="top" title="Log out!"></i>
          <% end %>
        </li>

        <% unless current_page?(root_path) %>

        <% end %>
      <% else %>
        <% unless current_page?(root_path) %>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link link-navbar"  do %>
            <i class="fas fa-search"> </i>
            <% end %>
          </li>
        <% end %>
        <% unless current_page?(new_user_session_path) %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link link-navbar" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
