<div class="container landing-page-container">
  <div class="color-container d-flex justify-content-center" style="min-height: 30vh;">
      <%= image_tag "transparentJS.png", class: "m-auto banner" %>
  </div>

  <div class="explanatory-text mb-5 col-sm-9 col-md-6 offset-md-3 banner-height">
    <p class="text-center">
      <span id="banner-typed-text" ></span>
    </p>
  </div>

  <div class="mt-5">
    <%= form_tag judicials_path, class: "m-2 form-inline d-flex justify-content-center",  method: :get do %>
      <div>
        <div>
          <%= text_field_tag :query,
          params[:query],
          size: "50",
          maxlength: "254",
          class: "form-control",
          placeholder: "Procure um nome ou o número do processo"
          %>
        </div>
        <div class="mt-4 justify-content-around d-flex">
          <%= submit_tag "Buscar", class: "btn btn-big mx-auto" %>
        </div>

      </div>
    <% end %>
  </div>
  <div class="push"></div>
</div>

<div class="footer">
  <div class="footer-copyright">
    Aplicativo criado no Le Wagon - Bootcamp <%= image_tag "le-wagon.png" %>
  </div>
</div>
